/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Unbounded:wght@400;600&display=swap");

/* VARIABLES */
:root {
  --first-color: hsl(265, 75%, 48%);
  --second-color: hsl(18, 88%, 58%);
  --white-color: #fff;
  --body-color: hsl(220, 4%, 99%);
  --container-color: #fff;
  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
}

/* GENERAL */
body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  margin: 0;
  position: relative;
  overflow: hidden;
}

#nav-img img {
  /* border: solid 1px white; */
  border-radius: 50%;
  height: 100px;
  display: block;
  margin: 2rem auto 0 auto; /* дээд = 2rem, зүүн/баруун = auto, доод = 0 */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#092e1c, #00800d);
  /* background-image: url(/images/75289845_1352163761631139_7531589860683939840_n.jpg); */
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.container {
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* TITLE */
.testimonial__title {
  font-family: var(--second-font);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 24px;
  color: white;
}
/* CARD */
.testimonial__card {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 3%;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.testimonial__card:hover {
  transform: translateY(-8px);
}

.testimonial__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* margin-bottom: 5px; */
  transition: 0.5s ease-in;
}

.testimonial__name {
  font-size: 2rem;
  margin-bottom: 8px;
}

.testimonial__description {
  font-size: 0.95rem;
  margin-bottom: 12px;
}

.testimonial__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.testimonial__stars i {
  font-size: 18px;
  color: #ccc; /* default саарал од */
}

.testimonial__stars i.filled {
  color: var(--second-color); /* шар од */
}

.testimonial__number {
  font-weight: bold;
}

/* SWIPER */
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  bottom: 10px !important;
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
  .testimonial__card {
    width: 100%;
    margin: 0 auto;
    /* padding: 20px; */
  }
}

@media screen and (min-width: 768px) {
  .testimonial__card {
    width: 300px;
  }
}
